<mat-toolbar class="toolbar container-fluid">
  <button mat-icon-button (click)="onToggleMenu()" color="primary" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="padding-15">{{ categoryName() }}</span>
  <span class="spacer"></span>
  @if (isMobile) {
    <button mat-icon-button class="menu-icon" (click)="onToggleStat()">
      <mat-icon>moving</mat-icon>
    </button>
    <button mat-icon-button class="menu-icon" (click)="onToggleSearch()">
      <mat-icon>search</mat-icon>
    </button>
  } @else {

    <!-- Stat -->
    <button *ngIf="showStat()" class="btn btn-outline-success" type="button" (click)="onToggleStat()">
      <mat-icon>moving</mat-icon>
      {{ 'STAT.HIDE' |translate }}
    </button>
    <button *ngIf="!showStat()" class="btn btn-outline-success" type="button" (click)="onToggleStat()">
      <mat-icon>moving</mat-icon>
      {{ 'STAT.SHOW' |translate }}
    </button>

    <!-- Search -->
    <button *ngIf="showSearch()" class="btn btn-outline-success" type="button" (click)="onToggleSearch()">
      <mat-icon>search</mat-icon>
      {{ 'TASKS.HIDE' |translate }}
    </button>
    <button *ngIf="!showSearch()" class="btn btn-outline-success" type="button" (click)="onToggleSearch()">
      <mat-icon>search</mat-icon>
      {{ 'TASKS.SHOW' |translate }}
    </button>

    <button class="btn btn-outline-success" type="button" (click)="logout()">
      <mat-icon>logout</mat-icon>
      {{ 'COMMON.EXIT' | translate }}
    </button>

  }
  <button mat-icon-button class="menu-icon" [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <p class="text-center padding-25 account">
      {{ email }}
    </p>

    <button mat-menu-item (click)="showSettings()">
      <mat-icon>settings</mat-icon>
      <span>{{ 'COMMON.SETTINGS' | translate }}</span>
    </button>

    <button mat-menu-item *ngIf="!isMobile" class="header-icon">
      <mat-icon>help</mat-icon>
      <span>{{ 'COMMON.HELP' | translate }}</span>
    </button>

    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>{{ 'COMMON.EXIT' | translate }}</span>
    </button>

  </mat-menu>
</mat-toolbar>
