<div class="d-flex" id="wrapper">

  <!-- Sidebar -->
  <div class="bg-light border-right" id="sidebar-wrapper" [ngClass]="showSidebar ? 'show' : 'hide'">
    <app-categories
      [categories]="categories"
      [showSidebar]="showSidebar"
      (toggleSidebarEvent)="toggleMenu($event)"
      [stat]="stat"
      (addCategoryEvent)="addCategory($event)"
      (updateCategoryEvent)="updateCategory($event)"
      (deleteCategoryEvent)="deleteCategory($event)"
      (searchCategoryEvent)="searchCategory($event)"
      (selectedCategoryEvent)="categorySelected($event)"

    />
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">

    <app-header
      [showStat]="showStat"
      (toggleStatEvent)="toggleStat($event)"

      [showSidebar]="showSidebar"
      (toggleSidebarEvent)="toggleMenu($event)"
      (logoutEvent)="logout()"
    />
    <app-stat *ngIf="!isMobile"

              [dash]="dash"
              [showStat]="showStat"
    />

    <div class="container-fluid">
      <h1 class="mt-4">Angular 17 Bootstrap 5 Simple Sidebar Template</h1>
      <p>The starting state of the menu will appear collapsed on smaller screens, and will appear non-collapsed on
        larger screens. When toggled using the button below, the menu will change.</p>
      <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>. The top navbar is optional,
        and just for demonstration.</p>
    </div>


  </div>

  <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->
