<div class="spinner" *ngIf="spinner && spinner.visibility | async"></div>

<div class="d-flex" id="wrapper">

  <!-- Sidebar -->
  <div class="bg-light border-right" id="sidebar-wrapper" [ngClass]="showSidebar ? 'show' : 'hide'">
    <app-categories
      [categories]="categories"
      [showSidebar]="showSidebar"
      [selectedCategory]="selectedCategory"
      (toggleSidebarEvent)="toggleMenu($event)"
      [stat]="stat"
      (addCategoryEvent)="addCategory($event)"
      (updateCategoryEvent)="updateCategory($event)"
      (deleteCategoryEvent)="deleteCategory($event)"
      (selectedCategoryEvent)="categorySelected($event)"

    />
  </div>

  <!-- Page Content -->
  <div class="main-panel wrapper">
    <nav
      [ngClass]="{'mobile-action-bar': isMobile, '; action-bar': !isMobile}">
      <app-header
        [showStat]="showStat"
        [showSearch]="showSearch"
        [userProfile]="userProfile"
        (toggleStatEvent)="toggleStat($event)"
        (toggleSearchEvent)="toggleSearch($event)"
        (settingsChangedEvent)="settingsChanged()"

        [showSidebar]="showSidebar"
        [categoryName]="selectedCategory.id ? selectedCategory.title: allTasks"
        (toggleSidebarEvent)="toggleMenu($event)"
        (logoutEvent)="logout()"/>
    </nav>

    <div class="content">
      <div class="container-fluid nopadding">

        <app-stat [dash]="dash"
                  [showStatistics]="showStat"/>

        <app-tasks
          [tasks]="tasks"
          [selectedCategory]="selectedCategory"
          [taskSearchValues]="taskSearchValues"
          [categories]="categories"
          [totalTasksFound]="totalTaskFound"
          [showSearch]="showSearch"

          (addTaskEvent)="addTask($event)"
          (updateTaskEvent)="updateTask($event)"
          (deleteTaskEvent)="deleteTask($event)"
          (pagingEvent)="paging($event)"
          (toggleSearchEvent)="toggleSearch($event)"
          (searchActionEvent)="searchTasks($event)"
        />
      </div>
    </div>
    <div *ngIf="!isMobile">
      <app-footer></app-footer>
    </div>
  </div>

</div>
