<div class="spinner" *ngIf="spinner && spinner.visibility | async"></div>

<div class="d-flex" id="wrapper">

  <!-- Sidebar -->
  <div class="bg-light border-right" id="sidebar-wrapper" [ngClass]="showSidebar ? 'show' : 'hide'">
    <app-categories
      [categories]="categories"
      [showSidebar]="showSidebar"
      [selectedCategory]="selectedCategory"
      (toggleSidebarEvent)="toggleMenu($event)"
      [stat]="stat"
      (addCategoryEvent)="addCategory($event)"
      (updateCategoryEvent)="updateCategory($event)"
      (deleteCategoryEvent)="deleteCategory($event)"
      (selectedCategoryEvent)="categorySelected($event)"

    />
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">

    <app-header
      [showStat]="showStat"
      [showSearch]="showSearch"
      [userProfile]="userProfile"
      (toggleStatEvent)="toggleStat($event)"
      (toggleSearchEvent)="toggleSearch($event)"
      (settingsChangedEvent)="settingsChanged()"

      [showSidebar]="showSidebar"
      (toggleSidebarEvent)="toggleMenu($event)"
      (logoutEvent)="logout()"
    />
    <app-stat *ngIf="!isMobile"
              [dash]="dash"
              [showStatistics]="showStat"
    />
    <app-tasks
      [tasks]="tasks"
      [selectedCategory]="selectedCategory"
      [taskSearchValues]="taskSearchValues"
      [categories]="categories"
      [totalTasksFound]="totalTaskFound"
      [showSearch]="showSearch"

      (addTaskEvent)="addTask($event)"
      (updateTaskEvent)="updateTask($event)"
      (deleteTaskEvent)="deleteTask($event)"
      (pagingEvent)="paging($event)"
      (toggleSearchEvent)="toggleSearch($event)"
      (searchActionEvent)="searchTasks($event)"
    />


  </div>

  <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->
